<div class="row user-list">
  <div class="col user-card" *ngFor='let user of users' routerLink="/home/user/{{user.id}}">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{user.first_name}}</mat-card-title>
          <mat-card-title>{{user.last_name}}</mat-card-title>
          <mat-card-title>{{user.email}}</mat-card-title>
          <img mat-card-md-image src="{{user.avatar}} " alt="Image of a Shiba Inu">
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div>
</div>
