<div class="body">
    <div class="menu">
        <ul>
            <li>
                <a routerLink="home">
                    <i class="fa-solid fa-house"></i>
                    <p>dashboard</p>
                </a>
            </li>
            <li>
                <a routerLink="userlist">
                    <i class="fa-solid fa-user"></i>
                    <p>User List</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="title">
            <h1>dashboard</h1>
            <i class="fas fa-chart-bar"></i>
        </div>
    </div>
</div>  



